.botonera{
    background-color: $mainColor;
    height: 70px;
    a{
        text-decoration: none;
        color: $white;
        font-size:$textMd;
        font-weight:$textLight;
        background-image: linear-gradient(currentColor, currentColor);
        background-position: 0% 100%;
        background-repeat: no-repeat;
        background-size: 0% 2px;
        transition: background-size 0.3s;
        &:hover{
            color: $keyColor;
            background-size: 100% 2px;
        }
    }
    img{
        width: 150px;
    }
}
.navbar-toggler{
    background-color: $white;
}
